{% extends 'layouts/home.html' %}
{% load static %}


{% block title %}
    {{ subject }} | e-Teacher
{% endblock title %}


{% block home_content %}
<div class="2xl:container grid gap-8 mx-auto">
    <!-- Detail -->
    <div class="flex gap-4 md:gap-8 flex-col-reverse xl:flex-row justify-between items-start p-4 md:p-16 bg-gray-100">
        <div class="flex-1 grid gap-4">
            <div class="grid">
                <h1 class="text-2xl md:text-4xl font-semibold">{{ subject }}</h1>
                <span class="text-gray-500">{{ subject.category.name }}</span>
                <div class="mt-2">
                    {{ subject.description|safe }}
                </div>
            </div>

            <div class="flex flex-col lg:flex-row items-center justify-between">
                <div class="flex -space-x-4 rtl:space-x-reverse">
                    {% for user in subject.observers.all %}
                        <img 
                            class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800" 
                            src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'images/user.png' %}{% endif %}" alt=""
                        >
                    {% endfor %}
                    <div class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800" href="#">
                        +{{ subject.observers.count }}
                    </div>
                </div>
                
                <div class="flex gap-4 items-center mt-2.5 mb-5">
                    <div class="flex gap-2 items-center">
                        <svg class="w-6 h-6 text-blue-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z"/>
                        </svg>
                        <div class="text-gray-500">
                            <span class="">{{ subject.chapters.count }} модуль</span>
                            |
                            <span class="">{{ subject.lessons.count }} сабақ</span>
                        </div>
                    </div>

                    <div class="flex items-center gap-2">
                        <svg class="w-6 h-6 text-blue-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                            <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>
                        <span class="text-gray-500">{{ subject.view }}</span>
                    </div>
                </div>

                {% if request.user in subject.observers.all %}
                    {% if subject in add_subjects %}
                        <a 
                            href="#" 
                            class="flex gap-2 py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
                        >
                            Сабаққа кіру
                            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                            </svg>
                        </a>   
                    {% else %}
                        <form method="post" action="{% url 'home' %}">
                            {% csrf_token %}
                            <input type="hidden" name="subject_id" value="{{ subject.id }}">
                            <button 
                                type="submit"
                                class="flex items-center gap-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                            >
                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                                </svg>
                                Пәнді қосу
                            </button>
                        </form>
                    {% endif %}
                {% else %}
                    <button type="button" class="text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center" disabled>
                        Бұл пән сізге ашылмаған
                    </button>
                {% endif %}
            </div>
        </div>

        <div class="w-full xl:max-w-lg rounded-xl overflow-hidden">
            <img 
                src="{% if subject.poster %}{{ subject.poster.url }}{% else %}{% static 'images/poster.png' %}{% endif %}" 
                class="w-full"
                alt=""
            >
        </div>
    </div>

    <!-- Subject chapters -->
    <div class="max-w-screen-lg w-full grid gap-4">
        <h1 class="text-xl md:text-2xl font-semibold">Пәннің жоспары</h1>
        <div class="grid gap-2">
            <div id="accordion-collapse" data-accordion="collapse" class="rounded-lg border overflow-hidden">
                {% for chapter in subject.chapters.all %}
                    <h2 id="accordion-collapse-heading-{{ chapter.id }}">
                        <button 
                            type="button"
                            class="flex items-center justify-between w-full text-lg md:text-xl p-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3"
                            data-accordion-target="#accordion-collapse-body-{{ chapter.id }}" aria-expanded="true"
                            aria-controls="accordion-collapse-body-{{ chapter.id }}"
                        >
                            <span>{{ forloop.counter }} модуль: {{ chapter.title }}</span>
                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 5 5 1 1 5" />
                            </svg>
                        </button>
                    </h2>
                    <div id="accordion-collapse-body-{{ chapter.id }}" class="hidden" aria-labelledby="accordion-collapse-heading-{{ chapter.id }}">
                        <div class="p-5 border-gray-200">
                            {% for lesson in chapter.lessons.all %}
                                <div class="flex items-start justify-between gap-4 py-4 border-b">
                                    <div class="flex items-center gap-2">
                                        <div>
                                            <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd" d="M19.003 3A2 2 0 0 1 21 5v2h-2V5.414L17.414 7h-2.828l2-2h-2.172l-2 2H9.586l2-2H9.414l-2 2H3V5a2 2 0 0 1 2-2h14.003ZM3 9v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V9H3Zm2-2.414L6.586 5H5v1.586Zm4.553 4.52a1 1 0 0 1 1.047.094l4 3a1 1 0 0 1 0 1.6l-4 3A1 1 0 0 1 9 18v-6a1 1 0 0 1 .553-.894Z" clip-rule="evenodd"/>
                                            </svg>
                                        </div>
                                        <div>
                                            <h1 class="font-medium md:text-lg">{{ lesson.title }}</h1>
                                            <span class="block text-gray-500">{{ lesson.get_lesson_type_display }}</span>
                                        </div>
                                    </div>
                                    
                                    <div class="flex gap-2 items-center text-gray-500">
                                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                        </svg>
                                        <span class="">{{ lesson.duration }}:00</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

</div>
{% endblock home_content %}