{% extends 'layouts/accounts.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Хабарлама жіберілді! | e-Teacher
{% endblock title %}


{% block layout_content %}
<div class="w-full h-full sm:max-w-screen-sm mx-auto flex flex-col justify-center gap-5">
    <a href="{% url 'main' %}" class="flex lg:hidden w-full justify-center">
        <img src="{% static 'images/e-teacher.svg' %}" class="w-64" alt="">
    </a>
    <h1 class="text-2xl md:text-3xl lg:4xl font-semibold text-center">Хабарлама жіберілді!</h1>
</div>
{% endblock layout_content %}