{% extends 'layouts/accounts.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Парольді қалпына келтіру | GameMath
{% endblock title %}


{% block layout_content %}
<div class="w-full h-full sm:max-w-screen-sm mx-auto flex flex-col justify-center gap-5">
    <a href="{% url 'home' %}" class="flex lg:hidden w-full justify-center">
        <img src="{% static 'images/e-teacher.png' %}" class="w-64" alt="">
    </a>
    <h1 class="text-2xl md:text-3xl lg:4xl font-bold text-center">Парольді қалпына келтіру</h1>
    <form method="post" class="w-full">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="flex justify-between items-center">
            <button 
                type="button" 
                class="flex w-full justify-center items-center gap-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M2.038 5.61A2.01 2.01 0 0 0 2 6v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6c0-.12-.01-.238-.03-.352l-.866.65-7.89 6.032a2 2 0 0 1-2.429 0L2.884 6.288l-.846-.677Z"/>
                    <path d="M20.677 4.117A1.996 1.996 0 0 0 20 4H4c-.225 0-.44.037-.642.105l.758.607L12 10.742 19.9 4.7l.777-.583Z"/>
                </svg>
                <span>Жіберу</span>
            </button>
        </div>

    </form>
    <div class="w-full">
        <a href="{% url 'login' %}" class="w-full block text-center py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Кері қайту
        </a>
    </div>
</div>
{% endblock layout_content %}