{% extends 'layouts/profiles.html' %}
{% load static %}

{% block title %}
    {{ user_profile.username }} | e-Teacher
{% endblock title %}


{% block profile_content %}
<div>
    <div class="w-full block bg-gray-100 rounded-lg">
        <div class="flex flex-col items-center p-10">
            <img 
                class="w-32 h-32 sm:w-48 sm:h-48 mb-3 rounded-full shadow-lg"
                src="{% if user.profile.avatar %}{{ user_profile.avatar.url }}{% else %}{% static '/images/user.png'%}{% endif %}"
                alt="Bonnie image" 
            />
            <h1 class="text-4xl font-bold">{{ user.first_name }} {{ user.last_name }}</h1>
            <span class="block font-medium">@{{ user_profile.username }}</span>
            <a href="#" class="font-medium underline text-blue-700">
                {{ user_profile.email }}
            </a>
            <div class="flex flex-col sm:flex-row mt-4 md:mt-6">
                <a 
                    href="{% url 'home' %}" 
                    class="text-white text-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                >
                    Басты бетке өту
                </a>
                <a 
                    href="{% url 'edit_profile' %}"
                    class="py-2.5 px-5 me-2 mb-2 text-center text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                    Профилде өзгеріс жасау
                </a>
            </div>
        </div>
    </div>


    {% if request.user.is_superuser %}
        <div class="max-w-screen-md w-full flex flex-col items-center gap-4 mx-auto my-10">
            <img src="{% static '/images/empty.png' %}" class="w-48" alt="">
            <h1 class="text-2xl font-bold">Курстарды жүктеу</h1>
            <span class="text-center">
                Админ панеліне кіріп, курстарды тиісті категорияға байланысты қосыңыз.
            </span>
            <a 
                href="/admin/" target="_blank"
                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            >
                Басқару панеліне өту
            </a>
        </div>
    {% endif %}
</div>
{% endblock profile_content %}