{% extends 'layouts/accounts.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Тіркелу | e-Teacher
{% endblock title %}


{% block layout_content %}
<div class="w-full h-full sm:max-w-screen-sm mx-auto flex flex-col justify-center gap-5">
    <a href="{% url 'main' %}" class="flex lg:hidden w-full justify-center">
        <img src="{% static 'images/e-teacher.svg' %}" class="w-64" alt="">
    </a>
    <h1 class="text-2xl md:text-3xl lg:4xl font-semibold text-center">Жүйеге тіркелу</h1>
    <form method="post" class="w-full">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="flex justify-between items-center">
            <button 
                type="submit" 
                class="flex w-full justify-center items-center gap-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                </svg>
                <span>Тіркелу</span>
            </button>
        </div>
    </form>
    <div class="w-full">
        <a href="{% url 'login' %}" class="w-full block text-center py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Менде аккаунт бар
        </a>
    </div>
</div>
{% endblock layout_content %}