<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}e-Teacher{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static '/images/icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Tailwind and Flowbite -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    animation: {
                        wave: 'wave 1.5s infinite',
                    },
                    keyframes: {
                        wave: {
                        '0%': { transform: 'scale(1)', opacity: '1' },
                        '100%': { transform: 'scale(2)', opacity: '0' },
                        },
                    },
                },
                fontFamily: {
                    inter: ['Inter Tight', 'sans-serif'],
                },
            }
        }
    </script>

    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <!-- SwiperJS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- daisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="font-inter">
    {% block content %}
    {% endblock content %}

    <!-- Scripts -->
    <script src="{% static 'scripts/main-page.js' %}"></script>
    <script src="{% static 'scripts/home-page.js' %}"></script>
</body>
</html>